@font-face {
  font-family: "BigCaslonMedium";
  src: url(".\\styles\\fonts\\Big Caslon Medium\\Big Caslon Medium.ttf");
}

@font-face {
  font-family: "AvenirMedium";
  src: url(".\\styles\\fonts\\Avenir Medium\\Avenir Medium.ttf");
}

@font-face {
  font-family: "AvenirBook";
  src: url(".\\styles\\fonts\\AvenirFont\\AvenirLTStdBook.ttf");
}

@font-face {
  font-family: "AvenirBlack";
  src: url("./styles/fonts/AvenirFont/AvenirLTStd-Black.ttf");
}

@font-face {
  font-family: "AvenirRoman";
  src: url("./styles/fonts/AvenirFont/AvenirLTStd-Roman.ttf");
}

@font-face {
  font-family: "AvenirHeavy";
  src: url("./styles/fonts/AvenirFont/AvenirHeavy.ttf");
}
